<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result of the Duel</title>
</head>

<body>
    <h1>
        <%= humanName %>'s <%= humanSelection %>
                <%= duelResult %> against <%= botName %>'s <%= botSelection %>
    </h1>
    <a id="turn-link" href="/game">next turn</a>
</body>

</html>